<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg px-5 px-sm-0 mx-auto mt-5">
          <img src="..." class="rounded mx-auto d-block" alt="...">
           <table class= "table table-borderless">
              <tr>
                <th>グループ名</th>
                <th><%= @group.name %></th>
              </tr>
              <tr>
                <th>紹介文</th>
                <th><%= @group.introduction %></th>
              </tr>
              <tr>
                <th>メンバー</th>
                <th>
                  <% @group.users.each do |member| %>
                    <%= member.name %><br>
                  <% end %>
                </th>
              </tr>
                <% if @group.owner_id == current_user.id %>
                <td><%= link_to 'Edit', edit_public_group_path(@group), class: "btn btn-sm btn-outline-success" %></td>
                <td>
                    <%= link_to 'グループ削除',public_group_all_destroy_path(@group),
                    method: :delete,data: { confirm: '本当に削除しますか？' } ,
                    class: "btn btn-sm btn-outline-danger" %>
                </td>
                <% elsif @group.users.include?(current_user) %>
                <td><%= link_to 'グループを抜ける', public_group_path(@group), method: :delete, class: "btn btn-sm btn-danger" %></td>
                <% else %>
                <td><%= link_to '参加する', public_group_join_path(@group), class: "btn btn-sm btn-success" %></td>
                <% end %>
                <% if @group.users.include?(current_user) %>
                <td><%= link_to 'チャットを始める', public_group_group_messages_path(@group), class: "btn btn-outline-info" %></td>
                <% end %>
              </tr>
           </table>
            <div>
                <%= link_to '一覧へ', public_groups_path %>
            </div>
        </div>
    </div>
</div>
