<div class="scroll">
    <% posts.each do |post| %>
        <div class="card bg-transparent mt-3">
          <h5 class="card-header"><%= post.title %></h5>
          <div class="card-body">
            <h5 class="card-title">
                投稿者 <%=link_to public_user_path(post) do %>
                        <%= post.user.name %>
                        <% end %>
            </h5>
            <p class="card-text"><%= post.body %></p>
           <div class="row justify-content-end">
               <div class="col-2">
                   <%= link_to '詳細へ', public_post_path(post), class: "btn btn-primary" %>
               </div>
               <div class="col-2">
                   <%= render "public/favorites/btn", post: post %>
               </div>
           </div>   
          </div>
        </div>
    <%end%>
</div>