<h1>Public::Posts#index</h1>
<div class="container">
    <div class="row">
        <div class="col-3">
            <%= form_with model: @post,url:public_posts_path,method: :post, local:true do |f| %>
            <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, class: "form-control" %>
            </div>
             <div class="form-group">
                <%= f.label :body %>
                <%= f.text_field :body, class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.submit '作成する', class: 'btn btn-success' %> 
            </div>
            <%end%>
            <table class= "table">
                <% @posts.each do |post| %>
                <tr>
                    <td><%= post.title %></td>
                    <td><%= post.body %></td>
                    <td><%= link_to '詳細へ',public_post_path(post) %></td>
                </tr>
                <%end%>
            </table>
          <div>
              <%= link_to 'マイページへ', public_user_path(current_user), class: "btn btn-info" %>
          </div>
          <div>
            <%= link_to 'ユーザー一覧へ', public_users_path, class: "btn btn-dark" %>
          </div>
          <div>
              <%= link_to 'トップページへ', root_path %>
          </div>
          
            


        </div>
    </div>
</div>
