<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg px-5 px-sm-0 mx-auto mt-5">
            <table class="table table-borderless">
                <tr class="">
                    <th>タイトル</th>
                    <th><%= @post.title %></th>
                </tr>
                <tr>
                    <th>話したい事</th>
                    <th>
                        <%= @post.body %>
                        <% @post.tags.each do |tag| %>
                        <%= tag.name %></br>
                        <% end %>
                    </th>
                </tr>
                <tr>
                    <th>投稿者</th>
                    <th><%= @post.user.name %></th>
                </tr>
                <tr>
                    <th>コメント数</th>
                    <th class="comment_counter"><%= render 'public/post_comments/comment_counter', post: @post %></th>
            </tr>
                <tr>
                    <th>いいね</th>
                    <th class=<%="favorite-" + @post.id.to_s  %>><%= render partial: "public/favorites/btn", locals: {post: @post} %></th>
                </tr>
                <tr>
                    <th>
                     <% if @post.user == current_user %>
                        <%= link_to '投稿削除', public_post_path(@post), method: :delete %>
                     <% end %>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-center align-items-end">
        <div class="col-sm-12 col-md-8 col-lg px-5 px-sm-0 mx-auto mt-3">
            <div class="col comment_form">
                <%= render 'public/post_comments/form', post: @post, post_comment: @post_comment %>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg px-5 px-sm-0 mx-auto mt-3" id="post-comment">
            <div class="scroll ">
                <div class="d-flex flex-column-reverse ">
                    <div class="post_comment_all">
                        <%= render 'public/post_comments/comment_card', post: @post %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>