<h1>Public::Homes#top</h1>
<%= link_to 'ゲストログイン（閲覧用）', public_guest_sign_in_path, method: :post %>
<%= link_to '新規とうろく', new_user_registration_path, class: "btn btn-success" %>

<%= link_to 'ログイン', new_user_session_path, class: "btn btn-primary" %>

<%= link_to 'ログアウト', destroy_user_session_path,method: :delete, class: "btn btn-danger" %>

<% if user_signed_in? %>
<%= link_to 'マイページへ', public_user_path(current_user), class: "btn btn-info" %>
<%end%>


