<h1>top</h1>
<% if admin_signed_in? %>
    <div class="container">
        <div class="row">
            <div class="col">
                <%= link_to 'ログアウト', destroy_admin_session_path,method: :delete, class: "btn btn-light" %>
            </div>
           
            <div class="col">
                <%= link_to 'タグ一覧', admin_tags_path, class: "btn btn-info " %>
            </div>
            <div class="col">
                <%= link_to 'ユーザー一覧', admin_users_path, class: "btn btn-outline-primary" %>
            </div>
            <div class="col">
                <%= link_to '投稿一覧', admin_posts_path, class: "btn btn-outline-info" %>
            </div>
            <div class="col">
                <%= link_to 'グループ一覧', admin_groups_path, class: "btn btn-outline-success" %>
            </div>
            
            
        </div>
    </div>
<% else %>
    <%= link_to 'ログイン', new_admin_session_path, class: "btn btn-info btn-lg" %>
<% end %>