<div class="sidebar_fixed mt-5">
    <%= search_form_for q, url: admin_posts_path do |f| %>
    <table>
        <tr><%= f.search_field :title_cont %></tr>
        <tr><%= f.submit '投稿検索' %></tr>
    </table>
    <% end %>
</div>
<div class="sidebar_fixed mt-5">
     <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
     <%= submit_tag 'タグ検索' %>
        <% Tag.all.each do |t| %>
            <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
        <% end %>
    <% end %>
</div>