<% post.post_comments.each do |comment| %>
<div class="card mt-3 bg-transparent" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
        <%= link_to public_user_path(comment.user) do  %>
            <%= comment.user.name %>
        <% end %>
    </h6>
    <p class="card-text"><%= comment.comment %></p>
    <p class="align-self-end"><%= comment.created_at %>/<%= link_to '削除', public_post_post_comment_path(post, comment), method: :delete, remote: true %></p>
  </div>
</div>
<% end %>