
<table class='table table-borderless'>
  <tr>
    <th class="col"><%= image_tag user.get_profile_image, size:'150x150' %></th>
  </tr>
  
  
  <tr>
    <th>ニックネーム</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>自己紹介</th>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>フォロー</th>
    <th class="follow-<%= user.id %>"><%= render 'public/relationships/following_count', user: user %></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th class="follow-<%= user.id %>"><%= render 'public/relationships/follower_count', user: user %></th>
  </tr>
  <tr>
    <th>
      <%= link_to 'いいね一覧',favorites_public_user_path(user), class: "btn btn-outline-info" %>
    </th>
  </tr>
</table>
<div>
   <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
     <%= link_to  public_chat_path(user.id), class: "ml-3" do %>
       <i class="fas fa-envelope"></i>chatを始める
     <% end %>
   <% end %>
</div>
    
　
<div class='row mb-5'>
  <% if current_user != user %>
    <td class="follow-btn-<%= user.id %>"><%= render "public/relationships/btn", user: user %></td>
  <% elsif current_user == User.guest %>
  <% else %>
    <%= link_to 'ユーザー情報編集', edit_user_registration_path(user), class: "btn btn-info btn-block edit_user_#{user.id}" %>
    <%= link_to 'かんたんプロフィール編集', edit_public_user_path(user), class: "btn btn-info btn-block" %>
  <% end %>
</div>
        
