<% users.each do |user| %>
    <div class="card mt-3">
      <div class="bd-placeholder-img card-img-top"><%= image_tag user.get_profile_image, size:'150x150',class: "rounded mx-auto d-block" %></div>
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <p class="card-text"><%= user.introduction %></p>
          <p>
            <table>
              <tr>
                  <th>フォロー</th>
                  <th class="following_count_<%= user.id %>"><%= link_to user.followings.count, public_user_followings_path(user),remote: true %></th>
              </tr>
              <tr>
                <th>フォロワー</th>
                <th class="follower_count_<%= user.id %>"><%= link_to user.followers.count, public_user_followers_path(user),remote: true %></th>
              </tr>
            </table>
          </p>
          <table>
            <td>
             <p class="follow_btn_<%= user.id %>"><%= render 'public/relationships/btn', user: user %></p>
            </td>
            <td>
              <div class="direct_chat_<%= user.id %>">
                <% if current_user != user && current_user.following?(user) && user.following?(current_user) %>
                  <%= render 'public/users/chat_btn', user: user %>
                <% end %>
              </div>
            </td>
          </table>
          
         
        </div>
        <div class="card-footer">
          <div class="text-muted"><%= link_to 'もっと詳しく', public_user_path(user), class: "btn btn-outline-info btn-sm" %></div>
        </div>
    </div>
<% end %>