<% @posts.each do |post| %>
  <div class="card w-100 mt-3" style="width: 18rem;" href='/public/posts/:id'>
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= post.user.name %></h6>
      <p class="card-text"><%= post.body %></p>
      <a>
        <%= link_to  public_post_path(post) do %>
          <i class="fas fa-comments"></i> 見る
        <% end %>
      </a>
      <a><%= render "public/favorites/btn", post: post %></a>
      <p style="text-align: right"><%= post.created_at.strftime("%Y年%m月%d日") %></p>
    </div>
  </div>
<% end %>