<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6 px-5 px-sm-0 mx-auto mt-5">
      <h1 class="mt-3"><%= @group.name %> のチャット</h1>
        <div class="message scroll" style="width: 100%;">
          <% @messages.each do |message| %>
            <% if message.user_id == current_admin.id %>
            <!--右-->
            <div class="kaiwa">
              <div class="kaiwa-text-left">
                 <p class="kaiwa-text"><%= message.message %></p>
              </div>
            </div>
            <% else %>
            <!--左-->
            <div class="kaiwa">
                <figure class="kaiwa-img-left">
                  <%= image_tag message.user.get_profile_image %>
                <figcaption class="kaiwa-img-description">
                  <%= message.user.name %>
                </figcaption>
                </figure>
                  <div class="kaiwa-text-right">
                    <p class="kaiwa-text"><%= message.message %></p>
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>